.todo {
    background-color: #292F33;
    color: #FFCC4D;
    padding: 1px;
    border-radius: 2px;
}

.todoblock {
    background-color: #292F33;
    border: 2px dashed #FFCC4D;
    color: #FFCC4D;
}