* {
	box-sizing: border-box;
}

body {
	background-color: #0d193b;
	color: #a0ccff;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 4px;
	margin-bottom: 4px;
	color: #ffffff;
	font-weight: normal;
}

h1, h2, h3 {
	text-align: center;
}

h4, h5, h6 {
	font-weight: bold;
}


a {
    color: #00caca;
    text-decoration: none;
}

a:hover {
	color: #4affff;
}

a:active {
	color: #ffffff;
}

img {
	max-width: 100%;
}

code {
	font-family: "Consolas", monospace;
}

blockquote {
	border-left: 3px solid #a0ccff;
	padding: 4px;
	margin-left: 12px;
	background-color: rgba(62.7%, 80%, 100%, 0.1);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}