* {
	box-sizing: border-box;
}

body {
	background-color: #0d193b;
	color: #a0ccff;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #ffffff;
	font-weight: normal;
}

a {
    color: #00caca;
    text-decoration: none;
}

a:hover {
	color: #4affff;
}

a:active {
	color: #ffffff;
}

img {
	max-width: 100%;
}